@keyframes moon {
    0%{
        opacity: 0;
    }
    10%{
        opacity: .1;
    }
    20%{
        opacity: .2;
    }
    30%{
        opacity: .3;
    }
    40%{
        opacity: .4;
    }
    50%{
        opacity: .5;
    }
    60%{
        opacity: .6;
    }
    70%{
        opacity: .7;
    }
    80%{
        opacity: .8;
    }
    90%{
        opacity: .9;
    }
    100%{
        opacity: 1;
    }
}
@keyframes evening {
    0%{background: rgb(10, 0, 130);}
    10%{background: rgb(10, 0, 120);}
    20%{background: rgb(10, 0, 110);}
    30%{background: rgb(10, 0, 100);}
    40%{background: rgb(10, 0, 90);}
    50%{background: rgb(10, 0, 80);}
    60%{background: rgb(01, 0, 70);}
    70%{background: rgb(0, 0, 60);}
    80%{background: rgb(0, 0, 50);}
    90%{background: rgb(0, 0, 45);}
    100%{background: rgb(0, 0, 40);}
}

