body {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    background: black;
}
.container {
    width: 100%;
    margin: auto;
}
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
a{
    text-decoration: none;
}
section.hero header .container{
    height: 500px;
    position: relative;
    animation-name: evening;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}
section.hero header .container .sun{
    width: 150px;
    height: 150px;
    background: yellow;
    border-radius: 50%;
    position: absolute;
    top: 100px;
    left: 50%;
    transform: translate(-50%,0%);
    animation-name: sun;
    animation-duration: 1s;
    animation-fill-mode: forwards;

}
section.hero header .container .moon{
    font-size: 0px;
    width: 140px;
    height: 140px;
    background: white;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 30px white;
    animation-name: moon;
    animation-delay: .2s;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    top: 10%;
    left: 33%;
    opacity: 0;
    transition: 1s;
}
section.hero header .container .moon:hover{
   transform: scale(1.5);
    box-shadow: 0px 0px 90px 10px white;
    transition: 1s;
}
section.hero header .container .meteor {
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
    position: absolute;
    box-shadow: 0px 0px 0px white;
    top: 0px;
    right: 15%;
    transform: translate(0px, -100%);
    animation-name: meteor ;
    animation-direction: normal;
    animation-duration: 7s;
    animation-delay: 5s;
    animation-iteration-count: infinite;

}
section.hero header .container .but{
    width: 15px;
    height: 15px;
    background: white;
    box-shadow: 0px 0px 0px white;
    border-radius: 50%;
    position: absolute;
    transition: .5s;
}
section.hero header .container .but:hover{
    width: 30px;
    height: 30px;
    background: white;
    border-radius: 50%;
    position: absolute;
    box-shadow: 0px 0px 50px 10px white;
    transition: .5s;
}
section.hero header .container .about{
    top: 30%;
    left: 70%;
    animation-name: stars;
    animation-delay: .8s;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    opacity: 0;
}
section.hero header .container .gallery{
    top: 20%;
    left: 7%;
    animation-name: stars;
    animation-delay: .9s;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    opacity: 0;
}
section.hero header .container .events{
    top: 70%;
    left: 25%;
    animation-name: stars;
    animation-delay: 1.7s;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    opacity: 0;
}
section.hero header .container .contacts{
    top: 65%;
    left: 50%;
    animation-name: stars;
    animation-delay: 2s;
    animation-duration: .7s;
    animation-fill-mode: forwards;
    opacity: 0;
}
section.hero header .container .s_stars .im{
    width: 7px;
    height: 7px;
    border-radius: 50%;
    background: white;
    position: absolute;
    box-shadow: 0px 0px 15px 2px white;

}
section.hero header .container .s_stars .im:nth-child(2n){
    animation-name: stars_color;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
}

section.hero header .container .box{
    position: absolute;
    opacity: 0.1;
    background: white;
    border-radius: 15px;
    cursor: pointer;
    -moz-user-select: none;
    z-index: 1;
    padding: 10px 30px;
}
section.hero header .container .abox{
    top: 50px;
    left: -40px;
}
section.hero header .container .ebox{
    top: -70px;
    left: -20px;
}
section.hero header .container .gbox{
    top: 0px;
    left: 60px;
}
section.hero header .container .cbox{
    top: 30px;
    left: -150px;
}
section.hero header .container .about:hover .box{
    opacity: 1;
}
section.hero header .container .gallery:hover .box{
    opacity: 1;
}
section.hero header .container .events:hover .box{
    opacity: 1;
}
section.hero header .container .contacts:hover .box{
    opacity: 1;
}
section.hero header .container .box a{
    color: black;
    font-size: 18px;
    font-weight: 400;
}
/*--------------------background stars----------------*/
section.hero header .container .bg_stars .bgs{
    width: 5px;
    height: 5px;
    border-radius: 50%;
    background: white;
    position: absolute;
}
section.hero header .container .bgs:nth-child(2n){
     animation-name: bg_stars;
     animation-delay: 1.5s;
     animation-duration: 2s;
     animation-iteration-count: infinite;
     opacity: 0;
}
section.hero header .container .bgs:nth-child(2n+1){
    animation-name: bg_stars;
    animation-delay: 2s;
    animation-duration: 2s;
    animation-iteration-count: infinite;
    opacity: 0;
}
section.hero header .container .bg_stars .bgs1{
    top: 30%;
    left: 60%;
}
section.hero header .container .bg_stars .bgs2{
    top: 15%;
    left: 50%;
}
section.hero header .container .bg_stars .bgs3{
    top: 7%;
    left: 70%;
}
section.hero header .container .bg_stars .bgs4{
    top: 17%;
    left: 85%;
}
section.hero header .container .bg_stars .bgs5{
    top: 14%;
    left: 90%;
}
section.hero header .container .bg_stars .bgs6{
    top: 50%;
    left: 90%;
}
section.hero header .container .bg_stars .bgs7{
    top: 80%;
    left: 80%;
}
section.hero header .container .bg_stars .bgs8{
    top: 55%;
    left: 70%;
}
section.hero header .container .bg_stars .bgs9{
    top: 90%;
    left: 65%;
}
section.hero header .container .bg_stars .bgs10{
    top: 85%;
    left: 40%;
}
section.hero header .container .bg_stars .bgs11{
    top: 15%;
    left: 25%;
}
section.hero header .container .bg_stars .bgs12{
    top: 45%;
    left: 20%;
}
section.hero header .container .bg_stars .bgs13{
    top: 85%;
    left: 10%;
}
section.hero header .container .bg_stars .bgs14{
    top: 55%;
    left: 5%;
}
section.hero header .container .bg_stars .bgs15{
    top: 75%;
    left: 12%;
}
/*--------------------constellation-------------------*/
section.hero header .container .about .s_stars{
    width: 200px;
    height: 200px;
    position: relative;
    opacity: .5;
    transition: .6s;
}
section.hero header .container .about:hover .s_stars{
    opacity: 1;
    transition: .6s;
}
section.hero header .container .about .s1{
    top: -30%;
    left: 45%;
}
section.hero header .container .about .s1:after{
    content: '';
    height: 2px;
    width: 142px;
    background: white;
    position: absolute;
    transform: rotate(50deg);
    top: 66px;
    left: -13px;
    opacity: 0;
}
section.hero header .container .about:hover .s1:after{
   opacity: .2;
}
section.hero header .container .about .s1:before{
    content: '';
    height: 2px;
    width: 72px;
    background: white;
    position: absolute;
    transform: rotate(137deg);
    top: 36px;
    left: -68px;
    opacity: 0;
}
section.hero header .container .about:hover .s1:before{
    opacity: .2;
}
section.hero header .container .about .s2:after{
    content: '';
    height: 2px;
    width: 32px;
    background: white;
    position: absolute;
    transform: rotate(112deg);
    top: 27px;
    left: -23px;
    opacity: 0;
}
section.hero header .container .about:hover .s2:after{
    opacity: .2;
}
section.hero header .container .about .s3:before{
    content: '';
    height: 2px;
    width: 165px;
    background: white;
    position: absolute;
    transform: rotate(33deg);
    top: -50px;
    left: -160px;
    opacity: 0;
}
section.hero header .container .about:hover .s3:before{
    opacity: .2;
}
section.hero header .container .about .s3:after{
    content: '';
    height: 2px;
    width: 77px;
    background: white;
    position: absolute;
    transform: rotate(53deg);
    top: 43px;
    left: -5px;
    opacity: 0;
}
section.hero header .container .about:hover .s3:after{
    opacity: .2;
}
section.hero header .container .about .s4:after{
    content: '';
    height: 2px;
    width: 65px;
    background: white;
    position: absolute;
    transform: rotate(63deg);
    top: 42px;
    left: -8px;
    opacity: 0;
}
section.hero header .container .about:hover .s4:after{
    opacity: .2;
}
section.hero header .container .about .s4:before{
    content: '';
    height: 2px;
    width: 102px;
    background: white;
    position: absolute;
    transform: rotate(18deg);
    top: 103px;
    left: 52px;
    opacity: 0;
}
section.hero header .container .about:hover .s4:before{
    opacity: .2;
}
section.hero header .container .about .s2{
    top: 35%;
    left: 100%;
}
section.hero header .container .about .s3{
    top: 60%;
    left: 90%;
}
section.hero header .container .about .s4{
    top: 100%;
    left: 120%;
}
section.hero header .container .about .s5{
    top: 140%;
    left: 140%;
}
section.hero header .container .about .s6{
    top: 160%;
    left: 200%;
}
/*-------------------------*/
section.hero header .container .contacts .s_stars{
    width: 200px;
    height: 200px;
    position: relative;
    transition: .6s;
    opacity: .5;
}
section.hero header .container .contacts:hover .s_stars{
    width: 200px;
    height: 200px;
    position: relative;
    opacity: 1;
    transition: .6s;
}
section.hero header .container .contacts .s1{
    top: 65%;
    left: -10%;
}
section.hero header .container .contacts .s1:after{
    content: '';
    height: 2px;
    width: 85px;
    background: white;
    position: absolute;
    transform: rotate(105deg);
    top: -50px;
    left: -25px;
    opacity: 0;
}
section.hero header .container .contacts:hover .s1:after{
    opacity: .2;
}
section.hero header .container .contacts .s2{
     top: -70%;
     left: -15%;
 }
section.hero header .container .contacts .s2:after{
    content: '';
    height: 2px;
    width: 118px;
    background: white;
    position: absolute;
    transform: rotate(75deg);
    top: 72px;
    left:-36px;
    opacity: 0;
}
section.hero header .container .contacts:hover .s2:after{
    opacity: .2;
}
section.hero header .container .contacts .s3:after{
    content: '';
    height: 2px;
    width: 103px;
    background: white;
    position: absolute;
    transform: rotate(11deg);
    top: -10px;
    left:-111px;
    opacity: 0;
}
section.hero header .container .contacts:hover .s3:after{
    opacity: .2;
}
section.hero header .container .contacts .s3{
    top: 20%;
    left: 75%;
}
section.hero header .container .contacts .s4{
    top: -20%;
    left: 80%;
}
section.hero header .container .contacts .s4:after{
    content: '';
    height: 2px;
    width: 57px;
    background: white;
    position: absolute;
    transform: rotate(97deg);
    top: 43px;
    left: -30px;
    opacity: 0;
}
section.hero header .container .contacts:hover .s4:after{
    opacity: .2;
}
section.hero header .container .contacts .s5{
    top: 60%;
    left: 80%;
}
section.hero header .container .contacts .s5:after{
    content: '';
    height: 2px;
    width: 56px;
    background: white;
    position: absolute;
    transform: rotate(84deg);
    top: -37px;
    left: -29px;
    opacity: 0;
}
section.hero header .container .contacts:hover .s5:after{
    opacity: .2;
}
/*------------------------*/
section.hero header .container .events .s_stars{
    width: 200px;
    height: 200px;
    position: relative;
    transition: .6s;
    opacity: .5;
}
section.hero header .container .events:hover .s_stars{
    opacity: 1;
    transition: .6s;
}
section.hero header .container .events .s1{
     top: 50%;
     left: 15%;
 }
section.hero header .container .events .s1:before{
    content: '';
    height: 2px;
    width: 50px;
    background: white;
    position: absolute;
    transform: rotate(78deg);
    top: -36px;
    left: -30px;
    opacity: 0;
}
section.hero header .container .events:hover .s1:before{
    opacity: .2;
}
section.hero header .container .events .s2{
    top: 70%;
    left: 100%;
}
section.hero header .container .events .s2:before{
    content: '';
    height: 2px;
    width: 144px;
    background: white;
    position: absolute;
    transform: rotate(13deg);
    top: -17px;
    left: -153px;
    opacity: 0;
}
section.hero header .container .events:hover .s2:before{
    opacity: .2;
}
section.hero header .container .events .s3{
    top: 70%;
    left: -40%;
}
section.hero header .container .events .s3:before{
    content: '';
    height: 2px;
    width: 38px;
    background: white;
    position: absolute;
    transform: rotate(37deg);
    top: -17px;
    left: -39px;
    opacity: 0;
}
section.hero header .container .events .s3:after{
    content: '';
    height: 2px;
    width: 90px;
    background: white;
    position: absolute;
    transform: rotate(340deg);
    top: -15px;
    left: 13px;
    opacity: 0;
}
section.hero header .container .events:hover .s3:before{
     opacity: .2;
 }
section.hero header .container .events:hover .s3:after{
    opacity: .2;
}
section.hero header .container .events .s4{
    top: 50%;
    left: -65%;
}
section.hero header .container .events .s5{
    top: -25%;
    left: 80%;
}
section.hero header .container .events .s5:before{
    content: '';
    height: 2px;
    width: 117px;
    background: white;
    position: absolute;
    transform: rotate(337deg);
    top: 32px;
    left: -122px;
    opacity: 0;
}
section.hero header .container .events:hover .s5:before{
    opacity: .2;
}
section.hero header .container .events .s6{
    top: -40%;
    left: -45%;
}
section.hero header .container .events .s6:before{
    content: '';
    height: 2px;
    width: 95px;
    background: white;
    position: absolute;
    transform: rotate(221deg);
    top: 45px;
    left: 3px;
    opacity: 0;
}
section.hero header .container .events:hover .s6:before{
    opacity: .2;
}
section.hero header .container .events .s7{
    top: -55%;
    left: -75%;
}
section.hero header .container .events .s7:before{
    content: '';
    height: 2px;
    width: 40px;
    background: white;
    position: absolute;
    transform: rotate(206deg);
    top: 17px;
    left: 14px;
    opacity: 0;
}
section.hero header .container .events:hover .s7:before{
    opacity: .2;
}
/*-----------------------------*/
section.hero header .container .gallery .s_stars{
    width: 200px;
    height: 200px;
    position: relative;
    transition: .6s;
    opacity: .5;
}
section.hero header .container .gallery:hover .s_stars{
    opacity: 1;
    transition: .6s;
}
section.hero header .container .gallery .s1{
    top: -45%;
    left: -20%;
}
section.hero header .container .gallery .s1:before{
    content: '';
    height: 2px;
    width: 72px;
    background: white;
    position: absolute;
    transform: rotate(62deg);
    top: 48px;
    left: -9px;
    opacity: 0;
}
section.hero header .container .gallery:hover .s1:before{
    opacity: .2;
}
section.hero header .container .gallery .s2{
    top: -15%;
    left: 50%;
}
section.hero header .container .gallery .s2:before{
    content: '';
    height: 2px;
    width: 56px;
    background: white;
    position: absolute;
    transform: rotate(155deg);
    top: 21px;
    left: -61px;
    opacity: 0;
}
section.hero header .container .gallery:hover .s2:before{
    opacity: .2;
}
section.hero header .container .gallery .s3{
    top: -50%;
    left: 75%;
}
section.hero header .container .gallery .s3:before{
    content: '';
    height: 2px;
    width: 58px;
    background: white;
    position: absolute;
    transform: rotate(125deg);
    top: 39px;
    left: -50px;
    opacity: 0;
}
section.hero header .container .gallery:hover .s3:before{
    opacity: .2;
}
section.hero header .container .gallery .s4{
     top: -60%;
     left: 90%;
 }
section.hero header .container .gallery .s4:before{
    content: '';
    height: 2px;
    width: 15px;
    background: white;
    position: absolute;
    transform: rotate(144deg);
    top: 13px;
    left: -20px;
    opacity: 0;
}
section.hero header .container .gallery:hover .s4:before{
    opacity: .2;
}
section.hero header .container .gallery .s5{
    top: 45%;
    left: -25%;
}
section.hero header .container .gallery .s5:before{
    content: '';
    height: 2px;
    width: 62px;
    background: white;
    position: absolute;
    transform: rotate(146deg);
    top: 28px;
    left: -63px;
    opacity: 0;
}
section.hero header .container .gallery .s5:after{
    content: '';
    height: 2px;
    width: 60px;
    background: white;
    position: absolute;
    transform: rotate(129deg);
    top: -30px;
    left: 0px;
    opacity: 0;
}
section.hero header .container .gallery:hover .s5:before{
    opacity: .2;
}
section.hero header .container .gallery:hover .s5:after{
    opacity: .2;
}
section.hero header .container .gallery .s6{
    top: 70%;
    left: -60%;
}
section.hero header .container .gallery .s7{
    top: 40%;
    left: 35%;
}
section.hero header .container .gallery .s7:before{
    content: '';
    height: 2px;
    width: 50px;
    background: white;
    position: absolute;
    transform: rotate(52deg);
    top: -27px;
    left: -45px;
    opacity: 0;
}
section.hero header .container .gallery .s7:after{
    content: '';
    height: 2px;
    width: 122px;
    background: white;
    position: absolute;
    transform: rotate(54deg);
    top: 63px;
    left: -12px;
    opacity: 0;
}
section.hero header .container .gallery:hover .s7:before{
    opacity: .2;
}
section.hero header .container .gallery:hover .s7:after{
    opacity: .2;
}
section.hero header .container .gallery .s8{
     top: 100%;
     left: 80%;
 }
/*-------------------------------------------------------------*/
section.hero .content .landscape{
    width: 100%;
    animation-name: evening;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    font-size: 0;
}
section.hero .content .landscape img{
    width: 100%
}

@keyframes stars {
    0%{opacity: 0;
        box-shadow: 0px 0px 0px white;}
    100%{opacity: 1;
        box-shadow: 0px 0px 40px 6px white;}
}
@keyframes bg_stars  {
    0%{opacity: 0.2}
    10%{opacity: 0.2}
    20%{opacity: 0.4;}
    30%{opacity: 0.6;
        background: #ff9999;
    }
    40%{opacity: 0.8;
        background: white
    }
    50%{opacity: 1;
    box-shadow: 0px 0px 25px 3px white}
    60%{opacity: 0.8}
    70%{opacity: 0.6;
    background: #b3b3ff;}
    80%{opacity: 0.4;
    background: white;}
    90%{opacity: 0.2}
    100%{opacity: 0.2}
}

